[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mido = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
music21 = "==2.2.1"
scipy = "*"
h5py = "*"
torch = "*"
python-speech-features = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
